@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family:  "ProximaNova", monospace;
  font-weight: 100;
}

#navbar>li:hover{
  
  text-decoration: underline;
  text-underline-offset: 0.5em;

}
#title{
  font-family:'Sacramento',cursive;
  
  
}
.designation{
  font-family: 'Courier New', Courier, monospace;
 
  
}
#head{
  color: #3a3a3a;
  font-family: 'ProximaNovaT';
  font-size: 65px;

}
#paragraph{
  color: #3a3a3a;
  font-family: 'ProximaNovaT';
  font-size: 20px;

}